<launch>
  <arg name="gazebo" default="true"/>
    
  <param
    name="robot_description"
    textfile="$(find wheelchair_description)/urdf/urdf.urdf" />

  <node
  name="tf_footprint_base"
  pkg="tf"
  type="static_transform_publisher"
  args="0 0 0 0 0 0 base_link base_footprint 40" />
  
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <group if="$(arg gazebo)">
    <include file="$(find wheelchair_description)/launch/gazebo.launch"/>
  </group>

    <group unless="$(arg gazebo)">
        <include file="$(find rplidar_ros)/launch/rplidar.launch">
          <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
        </include>
            <!-- Node to run rosserial with specified port -->
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
            <param name="port" value="/dev/ttyUSB1" />
        </node>

            <!-- Launch file to start RealSense camera with point cloud enabled -->
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="enable_pointcloud" value="true" />
        </include>
        
        <node name="socket_api" pkg="wc_navigation" type="socket_api.py" output="screen"/>
    </group>

    <!-- Launch file for wc_navigation -->
    <include file="$(find wc_navigation)/launch/wc_navigation.launch"/>
    
</launch>
